body {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 12fr 1fr;
  grid-row-gap: 1rem;
}

.contact-body, .legal-body {
  min-height: 100vh;
  grid-template-rows: auto auto auto 1fr auto;
}

.contact-body .about-main, .legal-body .legal-main {
  align-self: start;
}

nav, .logo, footer, .abt-post-header, .profile-pages{
  grid-column: 1/-1;
}


 .posts, aside, .sing-up-form, .posts-main, .no-posts, .about-main, .legal-main{
  grid-column: 2 / 2;
}

.abt-img {
  width: 100%;
}
