{{define "modal"}}
<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <p id = "modal-text"></p>
    <span class="close">&times;</span>
    <!-- <svg id = "check"><use xlink:href="#check"></use></svg> -->
  </div>

</div>

{{end}}
