{{template "header"}}

<body>

{{template "svg"}}

{{template "nav"}}

{{template "logo"}}

<header class = "post-header abt-post-header">
  <h1>About Me</h1>
  <hr class = "post-header-line">
</header>

<main class = "about-main">
  <img class = "abt-img" src="/static/img/myphoto-1024x-50p.jpg" alt="">
  <div class="content abt-content-1">
    <p>If you’d like to know how this blog came to life and what you can find here, start with the very first <a href="/posts/show/5b38e2cdfb6fc03328f770da">post</a>.</p>

    <p>On this page, I’ll briefly tell you about myself. I was born and spent most of my childhood in the northern city of Arkhangelsk, Russia. Besides school and other typical childhood interests, I was actively involved in dancing as part of the choreographic ensemble “Druzhba”. With our dance group, we performed at festivals in Saint Petersburg and other Russian cities, as well as at well-known camps like “Orlyonok” and “Artek”. </p>

    <p>In 2006, following my mother’s advice — for which I am still incredibly grateful — I enrolled in the Academic Gymnasium of St. Petersburg State University. There was no other option — I had to move to Peterhof. It was extremely difficult for me, as a 14-year-old, to leave my friends and the dance group behind, but those three years of studying in a physics and mathematics class and living in a boarding school had a profound impact on me. So profound that I was later admitted to the Faculty of Mechanics and Mathematics at Moscow State University, from which I graduated with honours in 2014 (I am a nerd).</p>

    <p>Starting in my second year at university, I developed a deep passion for the English language. Lessons with a native speaker and participation in an English-speaking club in Moscow eventually led me to spend two consecutive summers studying at a language school in the south of the UK. Later, I passed the First Certificate in English exam with a score of 90 out of 100. In the Languages section of this blog, I’ll share more about my learning journey, study methods, and the experiences that helped me improve my language skills.</p>
  </div>

  <div class="content abt-content">
    <p>In my fifth year at university, I realised that I was genuinely interested in information technology and wanted to build my career in this field. Since programming never truly clicked for me during my studies, I decided to pursue a role that combined both business and technology. Right after graduation, I joined an IT consulting company as a business analyst. I really enjoyed working on real-world projects in the banking IT sector and designing SQL-based solutions — so much so that I was almost reluctant to go on maternity leave :)</p>

    <p>During my maternity leave, my desire to learn and grow only became stronger. I built this website as my first pet project to apply the skills I had been learning, and in the process, I discovered a real passion for backend development and the Go programming language. That experience inspired me to start an entirely new career path from scratch as a Go developer.</p>

    <p>I haven’t touched this blog in more than six years, and so much has changed since then. I relocated to Germany and live in Freiburg, where I work as a Senior Software Engineer at an IT company while raising two wonderful and energetic boys.</p>

    <p>I’d like to give this blog a second chance and start sharing my experiences, thoughts, and lessons learned along the way.</p>

    <p>Stay tuned!</p>
  </div>

</main>

<div class="profile-pages">
  <a target="_blank" href="https://www.facebook.com/maria.berdnikova"><svg id="facebook"><use href="#svg_facebook" xlink:href="#svg_facebook"></use></svg></a>
  <a target="_blank" href="https://www.linkedin.com/in/maria-efimenko-b7715361/"><svg id="linkedin"><use href="#svg_linkedin" xlink:href="#svg_linkedin"></use></svg></a>
  <a target="_blank" href="https://github.com/mariaefi29"><svg id="github"><use href="#svg_github" xlink:href="#svg_github"></use></svg></a>
</div>

{{template "footer"}}