{{define "aside"}}

  <section class = "about-me">
    <img src="/static/img/myphoto.JPG" alt="">
    <div class = "content">Hello everyone! My name is Maria Efimenko.
      I'm an MSU math graduate, a Software Engineer at an IT company, and a mother of two boys.
    </div>
    <a href="/about"><button class = "read-more">Read more</button></a>
    <hr class = "read-more-line">
  </section>

  <div class="sign-up-box">
    <h2>Subscription</h2>
    <hr class = "read-more-line">
    <h3>Get notified about new posts directly in your inbox!</h3>
    <form  class = "sing-up-form" action="/subscribe" method="post">
      <input type="email" name="email" class = "email" placeholder="Email">
      <div class="g-recaptcha" data-sitekey="6LcKavQUAAAAAG1pch276IT2nj2ulSvLF5RP8bhW" data-size="invisible"></div>
      <!-- hidden field protects the website from bots -->
      <input type="hidden" name="noshow" id="r0d0" value="0">
      <input type="submit" name="" value="Subscribe">
    </form>
  </div>

{{end}}
