{{template "header"}}

<body>

{{template "svg"}}

{{template "nav"}}

{{template "logo"}}
{{template "modal"}}
<header class = "post-header abt-post-header">
  <h1>Contact</h1>
  <hr class = "post-header-line">
</header>

<main class = "about-main">

  <form class="contact-form" action="/contact" method="post">
    <label for="name">Name*</label>
    <input class = "name" type="text" name="name" required>

    <label for="email">Email*</label>
    <input type="email" name="email" class = "email" required>

    <label for="message">Message*</label>
    <textarea name="message" rows="12" class = "message"></textarea>
    <!-- hidden field protects the website from bots -->
    <input type="hidden" name="xcode3" id="r4d4" value="0">
    <input class = "send-button" type="submit" name="" value="Send" required>

  </form>

<div class="content abt-content">
  <p>I am always happy to hear from you through this contact form.</p>

  <p>If you would like more details about a post, advice or a recommendation, or if you are interested in collaboration, feel free to write.</p>

  <p>You can also message me on one of the social networks listed on the <a href="/about">About</a> page. For personal questions, email me at <a href="mailto:maria.efimenko29@gmail.com">maria.efimenko29@gmail.com</a></p>
</div>
</main>

<script>
var form = document.querySelector(".contact-form");
var xcode3 = document.getElementById("r4d4");
xcode3.value = 776;
form.addEventListener('submit', function(e){
  var name = document.querySelector(".name");
  var message = document.querySelector(".message");
  var email = document.querySelector(".email");
  var xhr = new XMLHttpRequest();
  xhr.open('POST', '/contact', true);
  xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
  xhr.addEventListener('readystatechange', function() {
      if(xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200){
          form.reset();
          // modal.style.display = "block";
          modal.style.visibility = "visible";
          modal.style.opacity = "1";
          modalText.textContent = xhr.responseText;
      }
  });
  e.preventDefault();
  xhr.send("name="+name.value+"&email="+email.value+"&message="+message.value+"&xcode3="+xcode3.value);
})

</script>

<script type="text/javascript" src="/static/js/modalFunctionality.js"></script>
{{template "footer"}}
