{{define "footer"}}
<footer>
  <span class="footer-links">
    <a href="/impressum">Impressum</a>
    <img class="footer-favicon" src="/static/favicons/favicon-32x32.png" alt="">
    <a href="/datenschutzerklaerung">Datenschutzerklärung</a>
  </span>
  <span class="footer-copyright">Copyright © 2026 by <a href="/about">Maria Efimenko</a></span>
</footer>
</body>

  </html>
{{end}}
