{{template "header"}}

<body class="legal-body">

{{template "svg"}}

{{template "nav"}}

{{template "logo"}}

<header class="post-header abt-post-header">
  <h1>Impressum</h1>
  <hr class="post-header-line">
</header>

<main class="legal-main">
  <section class="legal-section">
    <h2>Angaben gemäß § 5 DDG</h2>
    <p>
      Maria Efimenko<br>
      Eugen-Martin-Straße 23b<br>
      79106 Freiburg
    </p>
  </section>

  <section class="legal-section">
    <h2>Kontakt</h2>
    <p>E-Mail: <a href="mailto:maria.efimenko29@gmail.com">maria.efimenko29@gmail.com</a></p>
  </section>

  <section class="legal-section">
    <h2>Redaktionell verantwortlich</h2>
    <p>Maria Efimenko</p>
  </section>
</main>

{{template "footer"}}
