{{define "modal"}}
<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <p id = "modal-text"></p>
    <span class="close">&times;</span>
  </div>

</div>

{{end}}
