{{define "nav"}}

<nav>
  <label class = "icon" for="show-menu">
    <svg id = "bars" ><use href="#svg_bars" xlink:href="#svg_bars"></use></svg>Menu</label>
  <input type="checkbox" id="show-menu">
  <ul id = "sidebar">
    <li><a href="/"><svg id = "home"><use href="#svg_home" xlink:href="#svg_home"></use></svg></a></li>
    <li><a href="/about">About Me</a></li>
    <li><a href="/category/family">Family</a></li>
    <li><a href="/category/travel">Adventures</a></li>
    <li class = "five"><a href="/category/english">Languages</a></li>
    <li><a href="/category/webdev">Tech</a></li>
    <li><a href="/contact">Contact</a></li>
  </ul>
</nav>

{{end}}
